<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

  </head>
<body>
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an account</h1>

      <form name="signup_form" method="post">

        <label for="username">Username</label>
        <input type="text" name="username" class="field" required>

        <label for="average_fuel">Enter the average fuel consumption of the car (l/100km)</label>
        <input type="text" name="average_fuel" class="field" required pattern="\d+(\.\d+)?">

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error">{{ error }}</p>
        <p class="center">Do you have account? <a href="{{ url_for('login_user') }}">Login here</a></p>
        <input type="submit" value="Sign Up" class="btn">
      </form>
    </div>
  </div>
</body>
</html>
